{% extends 'crud/header.html' %}

{% block content %}

<div class="container">
  <h2>Matrículas</h2><br>

  <form method="post">
    {% csrf_token %}
    <fieldset disabled>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="student">Aluno</label>
          <input type="text" class="form-control" id="student" name="student" placeholder="Aluno" 
          value="[{{student.registration_number}}] {{student.name}}">
        </div>
      </div>
    </fieldset>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="d_class">Turma</label>
        <select multiple id="d_class" name="d_class" class="form-control">
          <option value="none" selected disabled hidden>Selecione uma turma</option>
          {% for d_class in classes %}
            {% if form.instance.d_class.id == d_class.id %}
              <option selected value="{{d_class.id}}">{{d_class}}</option>
            {% else %}
              <option value="{{d_class.id}}">{{d_class}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>


</div>

{% endblock %}