{% extends 'crud/header.html' %}

{% block content %}

<div class="container">
  <h2>Matrículas</h2></br>

  <form method="post">
    {% csrf_token %}
    <fieldset disabled>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="student">Aluno</label>
          <input type="text" class="form-control" id="student" name="student" placeholder="Aluno" 
          value="{{student.name}}">
        </div>
      </div>
    </fieldset>

  </br><h2>Turmas Matriculadas</h2>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Turma</th>
          <th scope="col">Disciplina</th>
          <th scope="col">Data de Início</th>
          <th scope="col">Data de Encerramento</th>
          <th scope="col">Remover Matrícula</th>
        </tr>
      </thead>
      <tbody>
        {% for d_class in student.persisted_classes %}
        <tr>
          <td>{{ d_class.code }}</td>
          <td>{{ d_class.discipline.name }}</td>
          <td>{{ d_class.start_date }}</td>
          <td>{{ d_class.end_date }}</td>
          <td>
            <a href="#">
              <img class="image-icon mx-auto d-block" src="https://image.flaticon.com/icons/svg/149/149706.svg">
            </a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td><strong>Total: {{student.count}} Disciplina(s) Matriculada(s) </strong></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>

    </br><h2>Turmas Disponíveis</h2>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Turma</th>
          <th scope="col">Disciplina</th>
          <th scope="col">Data de Início</th>
          <th scope="col">Data de Encerramento</th>
          <th scope="col">Adicionar Matrícula</th>
        </tr>
      </thead>
      <tbody>
        {% for d_class in available_classes %}
        <tr>
          <td>{{ d_class.code }}</td>
          <td>{{ d_class.discipline.name }}</td>
          <td>{{ d_class.start_date }}</td>
          <td>{{ d_class.end_date }}</td>
          <td>
            <a href="#">
              <img class="image-icon mx-auto d-block" src="https://image.flaticon.com/icons/svg/109/109526.svg">
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td><strong>Total: {{available_classes.count}} Disponível(is) </strong></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>

    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>


</div>

{% endblock %}