crud/__pycache__/urls.cpython-37.pyc
crud/__pycache__/admin.cpython-37.pyc
crud/__pycache__/models.cpython-37.pyc
crud/__pycache__/views_class.cpython-37.pyc
crud/__pycache__/views_course.cpython-37.pyc
crud/__pycache__/views_discipline.cpython-37.pyc
crud/__pycache__/views_enrolment.cpython-37.pyc
crud/__pycache__/views_home.cpython-37.pyc
crud/__pycache__/views_student.cpython-37.pyc
crud/migrations/__pycache__/__init__.cpython-37.pyc
crud/migrations/__pycache__/0001_initial.cpython-37.pyc
crud/migrations/__pycache__/0002_auto_20190909_0946.cpython-37.pyc
crud/migrations/__pycache__/0003_auto_20190909_1429.cpython-37.pyc
crud/migrations/__pycache__/0004_class_code.cpython-37.pyc
crud/migrations/__pycache__/0005_auto_20190910_0829.cpython-37.pyc
my_academus/__pycache__/settings.cpython-37.pyc
my_academus/__pycache__/urls.cpython-37.pyc
my_academus/__pycache__/wsgi.cpython-37.pyc
