{% extends 'crud/header.html' %}

{% block content %}

<div class="container">
  {% if action == "create" %}
    <h2>Nova Turma</h2><br/>
  {% elif action == "edit" %}
    <h2>Editar Turma</h2><br/>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="code" name="code" placeholder="Nome" value="{{form.instance.code}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="discipline">Disciplina</label>
        <select id="discipline" name="discipline" class="form-control">
          <option value="none" selected disabled hidden>Selecione uma Disciplina</option>
          {% for discipline in disciplines %}
            {% if form.instance.discipline == discipline %}
              <option selected value="{{discipline.id}}">{{discipline}}</option>
            {% else %}
              <option value="{{discipline.id}}">{{discipline}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="start_date">Data início</label>
        <input type="date" class="form-control" id="start_date" name="start_date"
          value="{{start_date}}">
      </div>
      <div class="form-group col-md-3">
        <label for="end_date">Data fim</label>
        <input type="date" class="form-control" id="end_date" name="end_date"  
          value="{{end_date}}">
      </div>
    </div>
    {% if action == "create" %}
    <div class="" id="assessments">
      <label for="assessment[]">Avaliações</label>
      <div class="form-row" id="assessment_div">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" name="assessment[]" placeholder="Avaliação" value="{{form.instance.assessment.assessment_name}}">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <button type="button" id="add_assessment" class="btn btn-outline-primary font-weight-bold">Adicionar nova avaliação</button>
      </div>
    </div>
    
    <div id="class_time">
      <div class="form-row" id="class_time_div">
        <div class="form-group col-md-3">
          <label for="class_week[]">Dia da semana</label>
          <select id="class_week" name="class_week[]" class="form-control">
            <option value="none" selected disabled hidden>Selecione um dia da semana</option>
            <option value="6">Domingo</option>
            <option value="0">Segunda</option>
            <option value="1">Terça</option>
            <option value="2">Quarta</option>
            <option value="3">Quinta</option>
            <option value="4">Sexta</option>
            <option value="5">Sábado</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="class_time[]">Horário de aula</label>
          <input type="time" class="form-control" name="class_time[]" value="{{form.instance.assessment.assessment_name}}">
        </div>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-5">
        <button type="button" id="add_class_time" class="btn btn-outline-primary font-weight-bold">Adicionar novo dia de aula</button>
      </div>
    </div>

    {% endif %}
    <br/>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>

<script>
  $(function(){
    $('#add_assessment').on('click', function(){
      $('#assessment_div:first').clone().appendTo('#assessments');
      $('#assessment_div:last-child div input').val('');
    });
  });
</script>

<script>
  $(function(){
    $('#add_class_time').on('click', function(){
      $('#class_time_div:first').clone().appendTo('#class_time');
      $('#class_time_div:last-child div input').val('');
    });
  });
</script>

{% endblock %}
