{% extends 'crud/header.html' %}

{% block content %}

<div class="container">

  <form>
    {% csrf_token %}
    <fieldset disabled>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="code">Nome</label>
          <input type="text" class="form-control" id="name" name="code" placeholder="code" value="{{d_class.code}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="discipline">Disciplina</label>
          <input type="text" class="form-control" id="discipline" name="discipline" placeholder="Nome" 
            value="{{d_class.discipline.name}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="start_date">Data de Início</label>
          <input type="date" class="form-control" id="start_date" name="start_date" placeholder="mm/dd/yyyy" 
            value="{{d_class.start_date}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="end_date">Data de Encerramento</label>
          <input type="date" class="form-control" id="end_date" name="end_date" placeholder="mm/dd/yyyy"
            value="{{d_class.end_date}}">
        </div>
      </div>
      <br>
    </fieldset>
  </form>
  <h3>Alunos Matriculados:</h3>
  <br/>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Registro Acadêmico</th>
        <th scope="col">Nome</th>
        <th scope="col">Notas</th>
        <th scope="col">Frequência</th>
      </tr>
    </thead>
    <tbody>
      {% for enrolment in enrolments %}
      <tr>
        <td>{{ enrolment.student.registration_number }}</td>
        <td>{{ enrolment.student.name }}</td>
        <td>
          <a href="{% url 'grade_list' enrolment.id %}">
            <img class="image-icon" src="https://image.flaticon.com/icons/svg/159/159604.svg">
          </a>
        </td>
        <td>
          <a href="{% url 'frequency_list' enrolment.id %}">
            <img class="image-icon" src="https://image.flaticon.com/icons/svg/159/159604.svg">
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td><strong>Total: {{enrolments.count}} Alunos(s) </strong></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>

{% endblock %}