{% extends 'crud/header.html' %}

{% block content %}

<div class="container">
  {% if action == "create" %}
    <h2>Nova Turma</h2><br/>
  {% elif action == "edit" %}
    <h2>Editar Turma</h2><br/>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="code" name="code" placeholder="Nome" value="{{form.instance.code}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="discipline">Disciplina</label>
        <select id="discipline" name="discipline" class="form-control">
          <option value="none" selected disabled hidden>Selecione uma Disciplina</option>
          {% for discipline in disciplines %}
            {% if form.instance.discipline == discipline %}
              <option selected value="{{discipline.id}}">{{discipline}}</option>
            {% else %}
              <option value="{{discipline.id}}">{{discipline}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="start_date">Data início</label>
        <input type="date" class="form-control" id="start_date" name="start_date"
          value="{{start_date}}">
      </div>
      <div class="form-group col-md-3">
        <label for="end_date">Data fim</label>
        <input type="date" class="form-control" id="end_date" name="end_date"  
          value="{{end_date}}">
      </div>
    </div>
    {% if action == "create" %}
    <div class="" id="assessments">
      <label for="name">Avaliações</label>
      {% for assessment in form.instance.assessments %}
        <div class="form-row" id="assessment_div">
          <div class="form-group col-md-4">
            <input type="text" class="form-control" name="assessment" placeholder="Avaliação" value="{{assessment.assessment_name}}">
          </div>
        </div>
      {% endfor %}

      <div class="form-row" id="assessment_div">
        <div class="form-group col-md-4">
          <input type="text" class="form-control" name="assessment" placeholder="Avaliação" value="{{form.instance.assessment.assessment_name}}">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <button type="button" id="addAssessment" class="btn btn-outline-primary font-weight-bold">Adicionar nova avaliação</button>
      </div>
    </div>
    {% endif %}
    <br/>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>

<script>
  $(function(){
    $('#addAssessment').on('click', function(){
      $('#assessment_div:first').clone().appendTo('#assessments');
      $('#assessment_div:last-child div input').val('');
    });
  });
</script>

{% endblock %}
