{% extends 'crud/header.html' %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
  $(function(){
    $('button').on('click', function(){
      $('#assessments:first').clone().insertAfter('#assessments:last');
    });
  });
</script>

<div class="container">
  <h2>Nova Turma</h2><br/>

  <form method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="code" name="code" placeholder="Nome" value="{{form.instance.code}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="discipline">Disciplina</label>
        <select id="discipline" name="discipline" class="form-control">
          <option value="none" selected disabled hidden>Selecione uma Disciplina</option>
          {% for discipline in disciplines %}
            {% if form.instance.discipline == discipline %}
              <option selected value="{{discipline.id}}">{{discipline}}</option>
            {% else %}
              <option value="{{discipline.id}}">{{discipline}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="start_date">Data início</label>
        <input type="date" class="form-control" id="start_date" name="start_date"
          value="{{start_date}}">
      </div>
      <div class="form-group col-md-3">
        <label for="end_date">Data fim</label>
        <input type="date" class="form-control" id="end_date" name="end_date"  
          value="{{end_date}}">
      </div>
    </div>
    <div class="form-row" id="assessments">
      <div class="form-group col-md-6">
        <label for="name">Avaliação</label>
        <input type="text" class="form-control" id="assessment" name="assessments[]" placeholder="Avaliação" value="{{form.instance.assessment}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <button type="button" class="btn btn-outline-primary font-weight-bold addAssessment">Adicionar nova avaliação</button>
      </div>
    </div>
  
    <br/>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>


{% endblock %}
