{% extends 'crud/header.html' %}

{% block content %}

<div class="container">
  <h2>{{course.name}}</h2><br/>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Sigla</th>
        <th scope="col">Descrição</th>
        <th scope="col">Duração</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>{{course.initials}}</td>
          <td>{{course.description}}</td>
          <td>{{course.duration}}</td>
      </tr>
    </tbody>
  </table>

  <h3>Disciplinas:</h3><br/>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Sigla</th>
        <th scope="col">Nome</th>
      </tr>
    </thead>
      <tbody>
        {% for discipline in disciplines %}
        <tr>
          <td>{{ discipline.initials }}</td>
          <td>{{ discipline.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}