{% extends 'crud/header.html' %}

{% block content %}

<div class="container">
  {% if action == "create" %}
    <h2>Novo Curso</h2><br/>
  {% elif action == "edit" %}
    <h2>Editar Curso</h2><br/>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Nome" value="{{form.instance.name}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="description">Sigla</label>
        <input type="text" class="form-control" id="initials" name="initials" placeholder="XX" 
         value="{{form.instance.initials}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="description">Descrição</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Descrição"
        value="{{form.instance.description}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
          <label for="duration">Duração</label>
          <select id="duration" name="duration" class="form-control">
            <option value="none" selected disabled hidden>Selecione uma Duração</option>
            {% for duration in durations %}
              {% if form.instance.duration.short == duration.short %}
                <option selected value="{{duration.short}}">{{duration.description}}</option>
              {% else %}
                <option value="{{duration.short}}">{{duration.description}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
    <br/>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>

{% endblock %}