{% extends 'crud/header.html' %}

{% block content %}

<div class="container">
  <h4>Informações Pessoais:</h4><br/>
  <form>
    {% csrf_token %}
    <fieldset disabled>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Nome" value="{{student.name}}">
        </div>
        <div class="form-group col-md-2">
          <label for="birthdate">Data de Nascimento</label>
          <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="mm/dd/yyyy" 
            value="{{student.birthdate}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="cpf">Cpf</label>
          <input type="text" class="form-control" id="cpf" name="cpf" placeholder="xxx.xxx.xxx-xx" 
            value="{{student.cpf}}">
        </div>
        <div class="form-group col-md-4">
          <label for="course">Curso</label>
          <input type="text" class="form-control" id="course" name="course" placeholder="xxx.xxx.xxx-xx" 
            value="{{student.course}}">
        </div>
      </div>
      <br>
    </fieldset>
  </form>
  {% if enrolments %}
    <h4>Disciplinas matriculadas:</h4><br/>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Disciplina</th>
          <th scope="col">Turma</th>
          <th scope="col">Data da Matrícula</th>
        </tr>
      </thead>
      <tbody>
        {% for enrolment in enrolments %}
        <tr>
          <td>{{ enrolment.d_class.discipline.name }}</td>
          <td>{{ enrolment.d_class.code }}</td>
          <td>{{ enrolment.enrolment_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
          <tr>
            <td><strong>Total: {{enrolments.count}} Matrícula(s) </strong></td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
    </table>
  {% endif %}
</div>

{% endblock %}