{% extends 'crud/header.html' %}

{% block content %}

<div class="container">
  <form method="post">
    {% csrf_token %}
    <div class="form-row">
    <div class="form-group col-md-4">
        <label for="presence">Duração</label>
        <select id="presence" name="presence" class="form-control">
            <option value="none" selected disabled hidden>Selecione uma Presença</option>
            {% for presence in presence_choices %}
                {% if form.instance.presence.short == presence.short %}
                    <option selected value="{{presence.short}}">{{presence.description}}</option>
                {% else %}
                    <option value="{{presence.short}}">{{presence.description}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>

{% endblock %}