{% extends 'crud/header.html' %}

{% block content %}

<div class="container">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Sigla</th>
        <th scope="col">Curso</th>
        <th scope="col">Ver</th>
        <th scope="col">Editar</th>
        <th scope="col">Remover</th>
      </tr>
    </thead>
    <tbody>
      {% for discipline in disciplines %}
      <tr>
        <td>{{ discipline.name }}</td>
        <td>{{ discipline.initials }}</td>
        <td>{{ discipline.course }}</td>
        <td>
          <a href="{% url 'discipline_detail' discipline.id %}">
            <img class="image-icon" src="https://image.flaticon.com/icons/svg/159/159604.svg">
          </a>
        </td>
        <td>
          <a href="{% url 'discipline_edit' discipline.id %}">
            <img class="image-icon" src="https://image.flaticon.com/icons/svg/149/149850.svg">
          </a>
        </td>
        <td>
          <a href="{% url 'discipline_delete' discipline.id %}">
            <img class="image-icon" src="https://image.flaticon.com/icons/svg/64/64022.svg">
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td><strong>Total: {{disciplines.count}} Disciplina(s) </strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>

{% endblock %}