{% extends 'crud/header.html' %}

{% block content %}

<div class="container">

  <form method="post">
    {% csrf_token %}
    <fieldset disabled>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Nome"
          value={{discipline.name}}>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="description">Sigla</label>
          <input type="text" class="form-control" id="initials" name="initials" placeholder="XX" 
          value={{discipline.initials}}>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="description">Descrição</label>
          <input type="text" class="form-control" id="description" name="description" placeholder="Descrição" 
          value={{discipline.description}}>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="course">Curso</label>
          <input type="text" class="form-control" id="course" name="course" placeholder="Curso" 
          value={{discipline.course}}>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="academic_period">Período</label>
          <input type="text" class="form-control" id="academic_period" name="academic_period" placeholder="Período" 
          value={{discipline.academic_period.description}}>
        </div>
      </div>
      <br/>
    </fieldset>
  </form>
</div>

{% endblock %}