{% extends 'crud/header.html' %}

{% block content %}

<div class="container">
  <h4>Aluno: {{enrolment.student.name}}</h4><br/>
  <div class="row">
    <div class="col-sm">
      <h6>Disciplina: {{enrolment.d_class.discipline}}</h6>
    </div>
    <div class="col-sm">
      <h6>Turma: {{enrolment.d_class.code}}</h6>
    </div>
  </div>
  </br>
  <form method="post">
    {% csrf_token %}
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Avaliação</th>
          <th scope="col">Nota</th>
          <th scope="col">Editar</th>
        </tr>
      </thead>
      <tbody>
        {% for assessment in assessments %}
        <tr>
          <td>{{ assessment.assessment_name }}</td>
          <td>{{ assessment.result.grade }}</td>
          <td>
            <a href="{% url 'grade_edit' assessment.result.id %}">
              <img class="image-icon d-block" src="https://image.flaticon.com/icons/svg/149/149850.svg">
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
</div>

{% endblock %}